@import '../../sass/variables';

.library-item-container {
  width: 50vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  position: relative;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $bg-black;
}
.library-img {
  height: 100%;
  width: 4rem;
}

.library-game-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 1rem;
}

.title-gil {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.price {
  display: flex;
  width: 10rem;
  align-items: center;
}

.gil-in-library {
  font-weight: bold;
  margin-left: 0.6rem;
}
